* {
  margin: 0px;
  padding: 0px;
}
.bgimage {
  width: 20px;
  height: 20px;
  margin-top: 50px;
}

.haha{
  height: 610px;
  overflow: hidden;
  overflow-y: scroll;
  
}

.sidebarWrapper{
  width: 280px;
  background-color: #f0f0f0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  bottom: 0;
  left: 0;
  top: 65px;
  padding: 20px 0 0;
  z-index: 1;
  border-right: 1px solid rgba(0,0,0,.125);
}

.selectedTab{
  border-left: 8px solid #2775d1;
  flex-wrap: wrap;
}
.lectureName{
  font-size: 20px;
  list-style-type: disc;
}
.typograph:hover{
  background-color: whitesmoke;
  
}


