
*{
  margin: 0px;
  padding: 0px;

}
.bgimage{
  width: 20px;
  height: 20px;
  margin-top: 50px;
  
}
.nav nav-tabs{
  width: 300px;
}
.paragraph{
  font-size: 40px;
  text-decoration: none;
}
.dog{
  background-color: white;
}
.left{
  margin-right: 300px;
}
.xyz{
  font-size: 20px;
  color: darken($color: #000000, $amount: 0);
  
}
.course {
  padding-top: 20px;
  margin-right: 178px;
  text-decoration: none;
  font-size: 50px;
  
}
.tinku{
  border: 2px solid;
  height: 45px;
  width: 250px;
  background-color: silver;
  color: whitesmoke;
}
.preview {
  margin-top: 30px;
  margin-right: 150px;
  text-decoration: none;
}
.leftside{
  width: 100px;
  border: none;
  text-decoration: none;
  outline-style: none;
}


.notes{
margin-top: 30px;
margin-right: 120px;
text-decoration: none;
}
.resources{
  margin-top: 30px;
  margin-right: 200px;
  text-decoration: none;
}