.video-tab li a:hover {
  background-color: #eee;
  text-decoration: none;
}
.ul {
  list-style-type: none;
  border-bottom: oldlace;
}
.btn-youtube {
  height: 50px;
  border: none;
}
.ul li {
  border-bottom: oldlace;
}
.nav nav-tabs video-tabs {
  list-style-type: none;
}
.nav-tabs > li > a {
  background-color: #e7e7e7;
  color: #222222;
  list-style-type: none;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.4;
  border: 1px solid transparent;
  border-radius: 0 0 0 0;
  list-style-type: none;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  list-style-type: none;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}
/* nav nav-tabs video-tabs */
.rightcss {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.lecture-box{
  border: 1px solid rgba(0, 0, 0, .125);
  width: 80%;
  height: 400px;
}

