

.leftside {
  height: 612px;
  background-color: rgb(243, 243, 243);
  width: 180px;
  margin-right: 100px;
  padding-right: 0px !important;
}
.wrapper {
  margin-top: 20px;
  border: none;
}
.dwrapper {
  height: 80px;
  width: 80px;
  margin-top: 50px;
}
.main-content{
  margin-left: 22%;
  width: 77%;
}