.row {
  text-align: center;
}
.leftside {
  height: 90vh;
  background-color: rgb(243, 243, 243);
  width: 200px;
  margin-right: 100px;
}
.wrapper {
  margin-top: 20px;
  border: none;
}
.dwrapper {
  height: 80px;
  width: 80px;
  margin-top: 50px;
}
