breadcrumbs-course a {
    padding: 0.7em 1em 0.7em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
  }
  .breadcrumbs-course {
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
    color: black;
  }
  .ul {
    list-style-type: none;
    border-bottom: oldlace;
  }
  .ul li{
    border-bottom: oldlace;
  }
  